body{
    padding: 100px;
}
.submit-area{
    margin-top: 50px;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 5px 5px 13px rgb(131, 150, 134);
    background-color: rgb(193, 230, 203);
}
#transaction-area{
    display: none; /* Transaction area wont be shown on login page */
}
.status{
    margin: 0px 20px;
    color: rgb(223, 223, 223);
    padding: 20px;
    border-radius: 10px;
}
.deposit{
    background-color: rgb(7, 90, 39);
}
.withdraw{
    background-color: rgb(223, 0, 0);
}
.balance{
    background-color: rgb(12, 78, 219);
}